body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.table-overflow {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 10px;
  margin-top: 5rem;
}

tr,
th {
  border-collapse: collapse;
  min-width: 16rem;
  text-align: center;
  border: 1px solid black;
}

th {
  background-color: #4eb5f1;
  color: white;
  min-height: 6rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

td {
  border: 1px solid black;
}
.button-edit-delete-th {
  min-width: 4rem;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

a.btn-add-user {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  font-size: 20px;
  margin-top: 5rem;
}

a.btn-add-user:hover {
  background-color: #4095c6;
}

@media all and (max-width: 30em) {
  a.btn-add-user {
    display: block;
    margin: 0.2em auto;
  }
}

@media only screen and (max-width: 768px) {
  tr,
  th {
    border-collapse: collapse;
    min-width: 10rem;
    height: auto;
    text-align: center;
    border: 1px solid black;
  }
}
